{% extends 'base.html.twig' %}
{% block content %}

<br>
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       {{ message }}
     {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}

<h1>Add a new task</h1>
<form action="" method="post" name="task">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label>Task Name</label><br>
      {{ form.task1 }}<br>
      <label>Task Description</label><br>
      {{ form.task2 }}
    </div>

    <p><input type="submit" value="submit"></p>
</form>


{% endblock content %}
