{% extends 'base.html.twig' %}
{% block content %}
<br>

<table class="table table-striped table-dark">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Delete</th>
  </tr>
  {% for d in listdb %}
      {% if d.completed == 1 %}
        <tr>
          <td>{{ d.id }}</td>
          <td>{{ d.task }}</td>
          <td>{{ d.description }}</td>
          <td><a href="completed?id={{d.id}}">Delete</a></td>
        </tr>
      {% endif %}
  {% endfor %}
</table>


{% endblock content %}
