{% extends 'base.html.twig' %}
{% block content %}
<br>

<form action="" method="post" name="task">
  <table class="table table-striped table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Tick</th>
    </tr>
      {% for d in listdb %}
        {% if d.completed == 0 %}
        <tr>
          <td>{{ d.id }}</td>
          <td>{{ d.task }}</td>
          <td>{{ d.description }}</td>
          <td><a href="index?id={{d.id}}"><button type="button" name="{{d.id}}">✔</button</a></td>
        </tr>
        {% endif %}
      {% endfor %}
  </table>
</form>



{% endblock content %}
